<section class="volcano-search">
    <h1>Search</h1>

    <form class="search-form" method="post">
        <input type="text" class="search-volcano" name="search" placeholder="Search by Name...">
        <select id="type" name="volcano">
            <option value="Supervolcanoes">Supervolcanoes</option>
            <option value="Submarine">Submarine</option>
            <option value="Subglacial">Subglacial</option>
            <option value="Mud">Mud</option>
            <option value="Stratovolcanoes">Stratovolcanoes</option>
            <option value="Shield">Shield</option>
        </select>
        <button type="submit" class="btn-search">Search</button>
    </form>

    <div class="search-result">
        <div class="search-list">
            {{#if volcanoes}}
                {{#each volcanoes}}
                    {{> volcano}}
                {{/each}}
            {{else}}
            <div class="no-match">
                <p>No match was found!</p>
            </div>
            {{/if}}
        </div>
    </div>
    
</section>